@tailwind base;
@tailwind components;
@tailwind utilities;

.parallaxImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./assets/img/crew_photo.jpg);
  background-position: center 52px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: saturate(30%) brightness(75%);
}
.parallaxHero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.swiper-button-prev {
  left: 15% !important;
  color: #db2777 !important;
  height: 3rem !important;
  width: 3rem !important;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9999px;
  box-shadow: 0 2px 4px 0 rgba(75, 85, 99, 0.3);
  transition: ease-in-out;
  transition-duration: 300ms;
}
.swiper-button-next {
  right: 15% !important;
  color: #db2777 !important;
  height: 3rem !important;
  width: 3rem !important;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9999px;
  box-shadow: 0 2px 4px 0 rgba(75, 85, 99, 0.3);
  transition: ease-in-out;
  transition-duration: 300ms;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 1px 0 rgba(75, 85, 99, 0.3);
  transform: scale(1.1);
}
.swiper-button-prev::after,.swiper-button-next::after {
  font-size: 1.5rem !important;
}

.swiper-3d .swiper-wrapper {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .parallaxImage {
    background-position: center;
  }
}
@media only screen and (max-device-width: 1366px) {
  .parallaxImage {
    background-attachment: scroll;
    background-position: center -1rem;
  }
} 