@tailwind base;
@tailwind components;
@tailwind utilities;

svg .str0 {
  stroke: #db2777;
  stroke-width: 2.08;
  stroke-miterlimit: 22.9256;
}
svg .fil1 {
  fill: none;
}
svg .fil2 {
  fill: #db2777;
}
.swiper-button-prev {
  left: 15% !important;
}
.swiper-button-next {
  right: 15% !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #db2777 !important;
  height: 3rem !important;
  width: 3rem !important;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9999px;
  box-shadow: 0 2px 4px 0 rgba(75, 85, 99, 0.3);
  transition: ease-in-out;
  transition-duration: 300ms;
  border: 1px solid #db2777;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 1px 0 rgba(75, 85, 99, 0.3);
  transform: scale(1.1);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.5rem !important;
}

.swiper-wrapper {
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
